<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title  class="white" >{{user}}</mat-card-title>
        <mat-card-subtitle>Author</mat-card-subtitle>
        <img mat-card-xl-image src="../../../../assets/mv.jpeg" >
      </mat-card-title-group>
    </mat-card-header>
    <p>
    <mat-card-content class="white">
      {{longText}}
    </mat-card-content>

  </p>

  <mat-form-field>
    <mat-label>Date of Birth</mat-label>
    <input #dpicker matInput [matDatepicker]="picker" [value]="DOB">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
   
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    
  </mat-form-field>
 
 <div style="padding: 1rem;">
  <p class="white"> Gender </p>
  <mat-chip-listbox aria-label="Fish selection">
   
    <mat-chip-option color="accent" >Male</mat-chip-option>
    <mat-chip-option color="accent" >Female</mat-chip-option>
    <mat-chip-option color="warn" selected="">Not prefer to say</mat-chip-option>
  </mat-chip-listbox>
 
</div>
  </mat-card>