.form{
    width: 40%;
    height: auto;
    margin: 0 auto;
    background-color: #663399 ;
}

form p mat-form-field{
    width: 100%;
    line-height: 3rem;
    /* background-color: red; */
}

.button{
   justify-content: center;
   text-align: center;
   padding: 0.3rem;
   /* background-color: red; */
   
}