.movie-table{
    display: inline-block;
    width: 90%;
    height: auto;
    /* margin: 0 0.5rem; */
    margin-left: 1.2rem;
}

.table{
    width:100%;
    
}
@media (max-width:1500px) {
    
    .movie-table{
        display: block;
        width: 100%;
        height: auto;
        /* margin: 0 0.5rem; */
        margin-left: 0;
    }
}
.demo-toggles {
    display: flex;
    flex-direction: column;
  }
  
  .demo-toggles * {
    margin-bottom: 16px;
  }
  
  .demo-options {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  
  .demo-data * {
    margin: 16px 0;
  }
  
  .demo-paginator {
    width: 600px;
  }