.movie-table{
    display: inline-block;
    width: 90%;
    height: auto;
    /* margin: 0 0.5rem; */
    margin-left: 1.2rem;
}

.table{
    width:100%;
    
}
@media (max-width:1500px) {
    
    .movie-table{
        display: block;
        width: 100%;
        height: auto;
        /* margin: 0 0.5rem; */
        margin-left: 0;
    }
}